<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>Vin sur Vin</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-structure.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.interpreted-structure-file</string>
				<string>com.4d.4d.database-package</string>
				<string>com.4d.4d.database-shortcut</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-structure.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.compiled-structure-file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-index-data.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.index-data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-index-structure.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.index-structure</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-generic.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.asciiFilter</string>
				<string>com.4d.4d.blob</string>
				<string>com.4d.4d.chartFile</string>
				<string>com.4d.4d.formula</string>
				<string>com.4d.4d.importExportFile</string>
				<string>com.4d.4d.labelFile</string>
				<string>com.4d.4d.localization</string>
				<string>com.4d.4d.log</string>
				<string>com.4d.4d.picture</string>
				<string>com.4d.4d.queryFile</string>
				<string>com.4d.4d.quickReport</string>
				<string>com.4d.4d.resourceFile</string>
				<string>com.4d.4d.setFile</string>
				<string>com.4d.4d.settings</string>
				<string>com.4d.4d.userGroup</string>
				<string>com.4d.4d.variableFile</string>
				<string>com.4d.4d.WriteDocument</string>
				<string>com.4d.4d.WriteTemplate</string>
				<string>com.4d.4d.ViewDocument</string>
				<string>com.4d.4d.ViewTemplate</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.helpFile</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.foreign-types.sylk</string>
				<string>com.4d.foreign-types.dif</string>
				<string>com.4d.foreign-types.dif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-plugin.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.plugin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.pluginBundle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-component.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.objectLibrary-package</string>
				<string>com.4d.4d.objectLibrary</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-data.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.data-file</string>
				<string>com.4d.4d.segment</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.class</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.RVL-package</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>4Dv12-generic.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.4d.4d.license4D</string>
				<string>com.4d.4d.backup.database</string>
				<string>com.4d.4d.Sync-data</string>
				<string>com.4d.4d.Sync-header</string>
				<string>com.4d.4d.match</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Vin sur Vin</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>Vin sur Vin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kletel.vinsurvin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vin sur Vin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.3</string>
	<key>CFBundleSignature</key>
	<string>****</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>Password</string>
			<key>CFBundleURLName</key>
			<string>4D Integrated Runtime</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>4d</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.0.3</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>DatabaseOutsidePackage</key>
	<string>true</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2011, KLETEL Multimédia</string>
	<key>ThreadingModel</key>
	<string>NewThread</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.structure-file</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.4d.4d.structure-file</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D interpreted Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.interpreted-structure-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BAS5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.4d.4d.structure-file</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D compiled Structure File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.compiled-structure-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>BASY</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DC</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Database Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.database-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dbase</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D internal Picture format</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.picture</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>4PCT</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Blob</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.blob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4DBLOB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Localization</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.localization</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>pref</string>
				<key>public.filename-extension</key>
				<array>
					<string>LOC4D</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Quick Report</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.quickReport</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>REPT</string>
					<string>4DSE</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4QR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Resource File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.resourceFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>res</string>
				<key>public.filename-extension</key>
				<array>
					<string>RSR</string>
					<string>4DR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Set File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.setFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SETT</string>
				<key>public.filename-extension</key>
				<array>
					<string>4ST</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Variable File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.variableFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>VAR1</string>
				<key>public.filename-extension</key>
				<array>
					<string>4VR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Help File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.helpFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4Hlp</string>
				<key>public.filename-extension</key>
				<array>
					<string>HLP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Chart File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.chartFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CTDC</string>
				<key>public.filename-extension</key>
				<array>
					<string>4CT</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Settings File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.settings</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DSI</string>
				<key>public.filename-extension</key>
				<array>
					<string>4SI</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Import &amp; Export File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.importExportFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DIE</string>
				<key>public.filename-extension</key>
				<array>
					<string>4IE</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASCII Filter</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.asciiFilter</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>FILT</string>
				<key>public.filename-extension</key>
				<array>
					<string>4FI</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Label File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.labelFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DET</string>
				<key>public.filename-extension</key>
				<array>
					<string>4LB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Formula</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.formula</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>EFRM</string>
					<string>TFRM</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4FR</string>
					<string>TFR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Query File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.queryFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>RECH</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DF</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4DCB</string>
					<string>4DPY</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4DX</string>
					<string>4CX</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.pluginBundle</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Log</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.log</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4LOG</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DL</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Shortcut</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.database-shortcut</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4DLink</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Data Segment</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.segment</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>dax5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4DS</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D UserGroup</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.userGroup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DUG</string>
				<key>public.filename-extension</key>
				<array>
					<string>4UG</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Object Library</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.objectLibrary</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DLB</string>
				<key>public.filename-extension</key>
				<array>
					<string>4IL</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Object Library Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.objectLibrary-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4DLibrary</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Data File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.data-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DAT5</string>
				<key>public.filename-extension</key>
				<array>
					<string>4dd</string>
					<string>data</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Class</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.class</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Method</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.method</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mtd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Method</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.methodFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CC4D</string>
				<key>public.filename-extension</key>
				<array>
					<string>C4D</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Export File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.exportFile</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Journal File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.journalFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>journal</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Backup of 4D Journal File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.backup.journalFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4bl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Backup File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.backup.database</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4bk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.application-bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Runtime Volume License Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.RVL-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>4DEn</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D License File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.license4d</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>license4D</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Database Folder</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.databaseFolder</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Excel Symbolic Link (SYLK)</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.foreign-types.sylk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SYLK</string>
				<key>public.filename-extension</key>
				<string>slk</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Data Interchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.foreign-types.dif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DIFF</string>
				<key>public.filename-extension</key>
				<string>dif</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XBase Data File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.foreign-types.dbf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DBFF</string>
				<key>public.filename-extension</key>
				<string>dbf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Settings File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.settings</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>4DSettings</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XSL File</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.xsl</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D data indexes</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.index-data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dindx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D structure indexes</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.index-structure</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dindy</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D write document</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.WriteDocument</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4w7</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D Write Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.WriteTemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4WR7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4WT</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D view document</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.ViewDocument</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4PV7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4PV</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D View Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.ViewTemplate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>4PV7</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>4TP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D structure info</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.match</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>match</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D sync data</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.Sync-data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dsyncdata</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>4D sync header</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.Sync-header</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>4dsyncheader</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>External text Files</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.text-file</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>External text Files</string>
			<key>UTTypeIdentifier</key>
			<string>com.4d.4d.image-file</string>
		</dict>
	</array>
</dict>
</plist>
